/* Variables */
:root {
  --primary-color: #007bff;
  --pasty: #c1a123;
  --bg-color: #f4f4f4;
  --fg-color: #333;
}
/* Custom Classes */

/* General */
* {
  cursor: url('../images/pasty-curser.png'), auto;
  padding: 0;
  margin: 0;
}
/* *:hover {
  cursor: url('../images/mallet-curser.webp'), auto;
} */
body {
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}
body:hover,
a:hover,
button:hover,
carousel-control-next:hover {
  cursor: url('../images/mallet-curser.webp'), auto;
}

/* Navbar */
#navbar-logo {
  width: 30px;
  height: 30px;
}
.navbar {
  background-color: var(--pasty) !important;
  color: white;
}
/* Header */
#hero {
  position: relative;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  height: 400px;
}
#hero .hero-video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(33, 33, 33);
  text-align: center;
  /* background-color: #007bff; */
  z-index: 1;
}
.hero-title {
  font-size: 5em;
  font-weight: bold;
  color: black;
}
.hero-content h2 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}
/* img carousel */
.section-div h2 {
  font-size: 3rem;
  padding: 0 0 2rem 0;
}
.carousel * {
  /* color: white; */
}
.carousel-inner {
  margin: 50px auto;
}
.carousel-item {
  overflow: hidden;
  width: 100%;
  height: 600px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main */
.section-div {
  background-color: black;
  padding: 5rem 0;
  color: white;
}
.div-2 {
  background-color: white;
  color: black;
  padding: 5rem 0;
}
#introduction img {
  width: 248px;
  /* height: 100px; */
}
.vertical {
  position: absolute;
  width: 10px;
  height: 384px;
  left: 100px;
  top: 457px;
  background-color: white;
}
.horizontal {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0px;
  top: 750px;
  background-color: white;
}
/* Introduction */
#introduction .row .col-12 {
  background-color: black;
  width: 100%;
}

/* Game */
#game {
  /* background-color: rgb(255, 228, 196); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
#startButton {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: url('../images/mallet-curser.webp'), auto;
}
#endButton {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: url('../images/mallet-curser.webp'), auto;
}
.game-container {
  background-color: rgb(1, 254, 64);
  display: grid;
  grid-template-columns: repeat(3, 160px);
  gap: 10px;
  border: 2px solid rgb(216, 216, 216);
  padding: 20px;
  border-radius: 10px;
}
.hole {
  height: 150px;
  background: rgb(19, 55, 139);
  border: 5px solid rgb(30, 30, 30);
  cursor: url('../images/mallet-curser.webp'), auto;
  border-radius: 100px;
}
.mole {
  background-size: 150px;
  background-image: url('https://media.geeksforgeeks.org/wp-content/uploads/20231130123541/mole.png');
}

@media only screen and (max-width: 600px) {
  .game-container {
    width: 80%;
    gap: 10px;
    padding: 5%;
    grid-template-columns: repeat(3, 38%);
  }

  .hole {
    height: 50px;
    width: 50px;
    border-radius: 100px;
  }

  .mole {
    background-size: 50px;
    background-image: url('https://media.geeksforgeeks.org/wp-content/uploads/20231130123541/mole.png');
  }
}
