/* Variables */
:root {
  --primary-color: #007bff;
  --bg-color: #f4f4f4;
  --fg-color: #333;
}
/* Custom Classes */

/* General */
body {
  font-family: 'Arial', sans-serif;
  /* background-color: var(--bg-color); */
  /* color: var(--fg-color); */
  padding: 0;
  margin: 0;
}

/* Header */
#hero {
  position: relative;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  height: 300px;
}
#hero .hero-video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(33, 33, 33);
  text-align: center;
  /* background-color: #007bff; */
  z-index: 1;
}
.hero-title {
  font-size: 5em;
  font-weight: bold;
  color: black;
}
.hero-content h2 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}
/* Navbar */
#navbar-logo {
  width: 30px;
  height: 30px;
}
